services:
  server:
    image: todo-backend-dev
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - ./:/usr/src/app
    ports:
      - 3000:3000
    environment:
      - REDIS_URL=//redis:6379
      - MONGO_URL=mongodb://root:example@mongo:27017
    container_name: todo-backend-dev
  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes: 
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - mongo-data:/data/db
  redis:
    image: redis
    ports:
      - 6379:6379
    command: ['redis-server', "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  mongo-data:
  redis_data: